<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link shake shake-rotate">
            <a href="<%- config.root %><%- post.path %>#more"><%= __('excerpt_link') %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <div id="article-baidu-share" class="bdsharebuttonbox">
        <a href="#" class="bds_weixin" data-cmd="weixin" title="微信"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="新浪微博"></a>
        <a href="#" class="bds_tqq" data-cmd="tqq" title="腾讯微博"></a>
        <a href="#" class="bds_qzone" data-cmd="qzone" title="QQ空间"></a>
        <a href="#" class="bds_sqq" data-cmd="sqq" title="QQ好友"></a>
        <a href="#" class="bds_qq" data-cmd="qq" title="QQ收藏"></a>
        <a href="#" class="bds_t163" data-cmd="t163" title="网易微博"></a>
        <a href="#" class="bds_douban" data-cmd="douban" title="豆瓣"></a>
        <a href="#" class="bds_huaban" data-cmd="huaban" title="花瓣"></a>
        <a href="#" class="bds_twi" data-cmd="twi" title="Twitter"></a>
        <a href="#" class="bds_fbook" data-cmd="fbook" title="Facebook"></a>
        <a href="#" class="bds_mail" data-cmd="mail" title="邮件分享"></a>
      </div>
      <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","weixin","tsina","tqq","qzone","qq","sqq","tqf","t163","renren","douban","huaban","taobao","tieba","kaixin001","tsohu","meilishuo","mogujie","sdo","youdao","twi","fbook","linkedin","mail","copy","print"],"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

      <!-- <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a> -->

      <%- partial('post/tag') %>
      <!-- duoshuo -->
      <% if (post.comments && config.duoshuo_shortname){ %>
        <a href="<%- post.permalink %>#ds-thread" class="ds-thread-count article-comment-link" data-thread-key="<%- post.path %>" data-count-type="comments"></a>
      <% } %>

      <!-- disqus
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
      <% } %>
      -->
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<!-- duoshuo -->
<% if (!index && post.comments && config.duoshuo_shortname){ %>
<div class="ds-thread" data-thread-key="<%- post.path %>"></div>
<% } %>

<!-- disqus
<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
-->